
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
    -webkit-tap-highlight-color: transparent;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(56, 255, 122);
}
.container{
    min-width: 400px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}
.title{
    font-size: 28px;
    letter-spacing: 1px;
}
.players__turn{
    margin: 15px 0;
}
.players__turn button{
    padding: 8px 20px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
}.players__turn button.active{
    background-color: rgb(56, 255, 122);
}
.play__ground{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center; 
    margin: 25px 0;
}
.cell{
    display: inline-block;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 50px ;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 10px;
}
.cell.pointerEvent{
    pointer-events: none;
}
.cell:nth-child(1){
    border-left: 0;
    border-top: 0;
}
.cell:nth-child(2){ 
    border-top: 0;
}
.cell:nth-child(3){
    border-right: 0;
    border-top: 0;
}
.cell:nth-child(4){ 
    border-left: 0;
}
.cell:nth-child(6){ 
    border-right: 0;
}
.cell:nth-child(7){ 
    border-left: 0;
    border-bottom: 0;
}
.cell:nth-child(8){  
    border-bottom: 0;
}
.cell:nth-child(9){  
    border-bottom: 0;
    border-right: 0;
}
.player_turn{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 600;
}
.btn{
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    border: 1.5px solid black;
    outline: none;
    margin-top: 10px;
    font-size: 16px;
}
.cell.cell__active{
    background-color: rgb(56, 255, 122);
    color: white;
}
.isWin{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    gap: 20px;
    transform: scale(.5);   
    transition: .4s;
    opacity: 0;
    visibility: hidden;
}
.isWin.active{
    transform: scale(1);  
    opacity: 1;
    visibility: visible;
}
.status{
    font-size: 25px;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
}